<!doctype html>
<html>
	<head>
		<title>rubbrl4zr</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script>
		function build_player_list() {
			var r = new XMLHttpRequest();
			r.open("GET", "/players/{{ game_id }}", true);
			r.onreadystatechange = function () {
				if (r.readyState != 4 || r.status != 200) return;
				let players = JSON.parse(r.response);
				player_list = document.getElementById("player_list");
				while (player_list.firstChild) {
					player_list.removeChild(player_list.firstChild);
				}
				for (player of players) {
					li = document.createElement("li");
					li.innerHTML = player.name;
					player_list.appendChild(li);
				}
			};
			r.send();
			new_player_name = document.getElementById("player_name").value;
			if (new_player_name != "") {
				let r2 = new XMLHttpRequest();
				r2.open("POST", "/set_player_name/{{ game_id }}/{{ player_id }}", true);
				var data = new Object();
				data.name = new_player_name;
				r2.send(JSON.stringify(data));
			}
		}
		window.onload = function() {
			window.setInterval(build_player_list, 1000);
		}
		</script>
	</head>
	<body>
		<li>Dein Name: <input id="player_name" type="text" placeholder="Spieler {{ player_id }}"/></li>
		<ul id="player_list">
		</ul>
		Andere Spieler können über diesen Link beitreten:
		<a href="/join/{{ game_id }}">{{ server_url }}join/{{ game_id }}</a>
	</body>
</html>
