@font-face {
    font-family: 'forcedsquare';
    src: url('font/forced_square-webfont.eot');
    src: url('font/forced_square-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/forced_square-webfont.woff2') format('woff2'),
         url('font/forced_square-webfont.woff') format('woff'),
         url('font/forced_square-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'forcedsquare';
    font-size: 20px;
}

body{
    background-color: black;
    background-image: url(img/background.jpg);
    background-repeat: repeat;
}

.wrapper {
    width: 100%;
    height: 100%;

    background-image: url(img/nebula.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.configuration {
    padding: 1em;
    width: 300px;
    height: 100%;
    float: left;
    position: relative;
    background-color: grey;
    background-image: url(img/panel.jpg);
    background-position: top right;
    background-repeat: repeat-y;
}

#preview {
    height: 200px;
    width: 100%;
}

#slider-value {
    width: 25px;
}

#game {
    width: 800px;
    height: 600px;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(255,255,255,0.2);
}

.ready-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
}

.btn {
    border: 1px solid darkgrey;
    padding: 1em;
}

.rdy-btn {
    width: 80%;
    background-color: orange;
    transition: 1s;
}

.rdy-btn:hover {
    background-color: red;
}

/* Slider */
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
