html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    background-image: url(img/background.jpg);
    background-repeat: repeat;
}

.wrapper {
    width: 100%;
    height: 100%;

    background-image: url(img/nebula.png);
    background-repeat: no-repeat;
}

.configuration {
    width: 340px;
    height: 100%;
    background-color: lightgrey;
    float: left;
}

#game {
    width: 1280px;
    height: 100%;
    display: block;
}
